body{
    font: 15px/1.5 Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    background-color: white;
}

/* Global */

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0%;
    padding: 0%;
}

img{
    max-width: 100%;
    height: auto;
}

img.resizeleft{
    max-width:25%;
    max-height:20%;
    border-radius: 75%;
    float: left;
}

img.resizeright{
    max-width:25%;
    max-height:20%;
    border-radius: 75%;
    float: right;

}

.highlightgreen{
    color: #1A936F;
}

.highlightorange{
    color: orangered;
}

/* Header */

header{
    background-color: #0A2239;
    color: #FFFFFF;
    padding-top: 2%;
    padding-bottom: 2%;
    min-height: 25%;
}

header a{
    color: #00A7E1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header a:hover{
    color: #FFFFFF;
}

header ul{
    list-style-type: none;
}

header li{
    display: inline;
    padding: 0 25px 0 25px;
}

header #branding{
    float: left;
}


header #branding h1{
    margin: 0px;
}

header nav{
    float: right;
    margin-top: 10px;
}



/* Main Content - Home */

#main-content{
    background-color: #007EA7;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 100px;
}


#main-content p{
    float: right;
    color: white;
    font-size: 24px;
    width: 500px;
    text-align: center;
    padding-top: 8%;
    padding-right: 1%;
    
}


/* Mission Statement - Home */

#mission-statement{
    background-color: #1A936F;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 5%;
}

/* About Me - Main Col */

#aboutme-main{
    background-color: #007EA7;
    padding-top: 50px;
    padding-bottom: 100px;
    min-height: 100px;

}

#aboutme-main h1{
    color: white;
    text-align: center;
    font-size: 36px;
    padding-bottom: 2%;
}

#aboutme-main p{
    float:left;
    color: white;
    font-size: 24px;
    width: 600px;
    padding-top: 2%;
}

/* About Me - Aside */

#aboutme-main aside{
    float:right;
    color: white;
    width: 200px;
    
}

#aboutme-main aside h3{
    font-size: 30px;
    text-align: center;
}

#aboutme-main aside ul{
    font-size: 20px;
}

/* About Me - Images */

#aboutphotos {
    background-color: #1A936F;
    font-size: 26px;
    color: white;
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Footer */

footer{
    background-color: #0A2239;
    color: white;
    text-align: center;
    height: 50%;
    padding: 2.5%;
    
    
}

