body{
    font: 15px/1.5 Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    background-color: white;
}

/* Global */

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0%;
    padding: 0%;
}

/* Header */

header{
    background-color: #BBD775;
    color: #0C2C39;
    padding-top: 30px;
    min-height: 70px;
}

header a{
    color: #3F8AA7;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header a:hover{
    color: #0C2C39;
}

header ul{
    list-style-type: none;
}

header li{
    display: inline;
    padding: 0 25px 0 25px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0px;
}

header nav{
    float: right;
    margin-top: 10px;
}



/* Main Content */

.main-content{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 100px;
}

img.headshotresize{
    max-width:20%;
    max-height:20%;
    border-radius: 50%;
    padding-left: 50px;
    float: left;
}

.main-content p{
    float: right;
    font-size: 24px;
    width: 500px;
    text-align: center;
    padding-top: 100px;
    padding-right: 50px;
    
}

/* Mission Statement */

#mission-statement{
    font-size: 30px;
    color: #3F8AA7;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
}

/* Footer */

footer{
    background-color: #BBD775;
    height: 75px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: -20px;
    
}

